
.nonedata{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nonedata__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
}
.nonedata__vienimg{
    width: 200px;
    height: 200px;
}
.nonedata__vienimg img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.nonedata__main{
    display: flex;
    flex-direction: column;
}
.nonedata__main p{
    color: #0B1053;
    font-weight: 600;
}
.nonedata__main button{
    background-color: rgb(97, 97, 240);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.nonedata__main button:hover{
    opacity: 0.8;
}