
.recommend{
    position: relative;
}
.recommend__body{
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: calc(50% - 940px / 2)
}
.recommend__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recommend__title{
    text-align: center;
}
.recommend__main{
    display: flex;
}
.recommend__center{
    max-width: calc((100% / 3) - 40px / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    color: #626570;
    padding: 20px 20px;
}
.recommend__side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #626570;
    padding: 20px 0px;
}
.name{
    font-size: 30px;
    margin: 30px 0px;
}
.vienimg{
    width: 300px;
    height: 180px;
    margin: 0;
}
.vienimg img{
    width: 300px;
    height: auto;
    object-fit: cover;
    margin: 0;
}
.recommend__des{
    text-align: center;
    background-color: #D5DDD9;
    margin: 0;
    padding: 10px 32px;
}
.recommend__des p:last-child{
    font-size: 16px;
}
.recommend__button button{
    background-color: #2B2D35;
    color: white;
    border: none;
    font-size: 15px;
    padding: 20px 0;
    width: calc(300px / 2 - 2px);
    overflow: hidden;
}
.recommend__button span{
    margin-right: 10px;
}
.recommend__button button:first-child{
    margin-right: 1px;
}
.recommend__button span::after{
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;  
    transition: all ease 800ms;
    position: absolute;
    margin-left: 3px;
}
.recommend__button button:hover span::after{
    transform: translateX(6px);
}