
.followus__title{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.followus__title svg{
    color: #242C9F;
}
.followus__title p{
    margin-left: 10px;
}
.followus__main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.follow__vienimg{
    width: calc(100% / 5 - 10px);
    height: 243px;
    border-radius: 10px;
    overflow: hidden;
}
.follow__vienimg img{
    width: 100%;
    height: 243px;
    object-fit: cover;
}