
.bds__container{
    position: relative;
}
.banner{
    height: 70vh;
    position: relative;
    background-image: url("https://ezcloud.vn/wp-content/uploads/2019/03/thiet-ke-homestay-don-gian.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
.banner__container{
    height: 100%;
    padding: 0px 20px;
}
.banner__opacity{
    height: 100%;
    background-color: black;
    opacity: 0.2;
}
.banner__title{
    color: white;
    position: absolute;
    bottom: 70px;
}
.search{
    position: absolute;
    top: 60vh;
    background-color: white;
}
.search__container{
    display: flex;
}
