
.bds__container{
    position: relative;
}
.banner{
    height: 70vh;
    position: relative;
    background-image: url("https://ezcloud.vn/wp-content/uploads/2019/03/thiet-ke-homestay-don-gian.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
.banner__container{
    height: 100%;
    padding: 0px 20px;
}
.banner__opacity{
    height: 100%;
    background-color: black;
    opacity: 0.2;
}
.banner__title{
    color: white;
    position: absolute;
    bottom: 70px;
}
.search{
    position: absolute;
    top: 63vh;
    left: calc(50% - 70vw / 2);
    background-color: white;
    width: 70vw;
    height: 70px;
    border-radius: 20px;
}
.search__container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.search__container button{
    background-color: #E67048;
    border: none;
    color: white;
    font-size: 28px;
    padding: 18px 18px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.bdsList a{
    color: black;
    text-decoration: none;
}
.bdsList{
    margin-top: 40px;
}
.bdsbox__container{
    display: flex;
    flex-direction: row;
}
.bds__image{
    width: 250px;
    height: auto;
}
.bds__image img{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.bds__about{
    width: 40vw;
    padding: 0px 20px;
}
.bds__nameAndRate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.bds__nameAndRate span:last-child{
    color: #0071CE;
}
.bds__danhGia{
    background-color: #FAFCFF;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 5px;
}
.bds__price{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bds__price p{
    color: #FD5D1C;
    font-weight: 700;
    font-size: 20px;
}
.bds__price button{
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #56B7F7;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
}