
.registerboss{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.registerboss__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    border-radius: 30px;
}
.registerboss__img{
    width: 300px;
    height: 100%;
    margin-right: 30px;
}
.registerboss__img:hover img{
    transition: all 1000ms ease;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.registerboss__img img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}