.header{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.header a{
    text-decoration: none;
    color: white;
}
.header__container{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.header__tool{
    display: flex;
    align-items: center;
}
.header__logo{
    width: 180px;
    height: 50px;
}
.header__logo img{
    margin-top: -32px;
    width: 180px;
    height: auto;
    object-fit: cover;
}
.header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}
.header__tool li{
    margin-left: 50px;
    color: white;
}
.header__tool button{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    padding: 9px 10px;
    border-radius: 5px;
    color: white;
}
.header__tool button:first-child{
    background-color: unset;
    color: black;
    border: 1px solid white;
}
.header__tool button:last-child{
    background-color: #0587f9;
    border: none;
    margin-left: 10px;
}
.header__main{
    padding-top: 10px;
}
.header__main ul{
    border: #ddd 1px solid;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header2{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}
.header2 a{
    text-decoration: none;
    color: black;
}
.header2__container{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.header2__tool{
    display: flex;
    align-items: center;
}
.header2 ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}
.header2__tool li{
    margin-right: 50px;
}
.header2__tool button{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    padding: 9px 10px;
    border-radius: 5px;
    color: white;
}
.header2__tool button:first-child{
    background-color: unset;
    color: black;
    border: 1px solid white;
}
.header2__tool button:last-child{
    background-color: #0587f9;
    border: none;
    margin-left: 10px;
}
.user__container{
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-radius: 20px;
    display: flex;
}
.user__container svg{
    font-size: 20px;
    padding-top: 5px;
}
.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.header2__toolMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.header__toolMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.button__logout{
    color: red;
    border: none;
    background-color: white;
    width: 100%;
}
.display__none{
    display: none;
}