
.signin{
    width: 100%;
}
.signin__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}
/* .sigin form{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.signin input{
    padding: 5px 10px;
    width: 100%;
    font-weight: 600;
}
.signin h1{
    text-align: center;
}
.signin__logo svg:first-child{
    font-size: 60px;
}
.signin svg{
    font-size: 25px;
}
.signin button{
    margin-top: 0px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
