
.signin{
    width: 100%;
}
.signin__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}
.signin input{
    padding: 5px 10px;
    width: 100%;
    font-weight: 600;
}
.signin h1{
    text-align: center;
}
.signin__logo svg:first-child{
    font-size: 60px;
}
.signin svg{
    font-size: 25px;
}
.signin button{
    margin-top: 0px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.signin__rule{
    text-align: center;
    font-weight: 600;
}
.signin__rule p{
    margin: 0;
}

.signInFormVienIMG{
    width: 100%;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}
.signInFormVienIMG img{
    width: 110%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    top: -22px;
    left: -25px;

}


