
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin__container{
    height: 80vh;
    width: 30vw;
    margin-top: 120px;
}
.signin form{
    display: flex;
    flex-direction: column;
}
.signin form label{
    font-weight: 600;
    margin-top: 10px;
}
.signin form input{
    border-radius: 5px;
    font-size: 16px;
    
}