@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
.kiemduyet{
    margin-top: 60px;
    padding: 30px;
    background-color: #c6d3e3;
}
.kiemduyet__title{
    font-family: "Inria Serif", serif;
}
.kiemduyet__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.kdbox img{
    width: 300px;
}
.kdbox{
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: calc(100% / 3 - 120px);
    padding: 30px;
    color: #757E8A;
    margin-left: 30px;
    background-color: white;
}
.text-black{
    color: black;
}
.kdbox__title h3{
    margin-bottom: 10px;
}
.kdbox:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.kdbox__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kdbox p{
    margin: 0;
}
.kdbox__nameAndlocate p:last-child{
    display: flex;
    align-items: center;
}
.kdbox__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kdbox__marginbottom{
    margin-bottom: 10px;
}
.kdbox__vienimg{
    width: 300px;
    height: 200px;
}
.kdbox__xemChiTiet{
    text-align: center;
    margin-top: 20px
}
.kdbox__button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.kdbox__price p:last-child{
    color: #8F82F9;
}
.kdbox__giayToPhapLy p:first-child{
    margin-bottom: 10px;
}
.nonedatakd{
    color: #757E8A;
}
.nonedatakd__container{
    text-align: center;
}
.nonedatakd svg{
    font-size: 45px;
}
.nonedatakd__container p{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
}
.kdbox__button button{
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.kdbox__button button:hover{
    opacity: 0.6;
}
.kdbox__buttonTuChoi{
    background-color: red;
    color: white;
}
.kdbox__buttonPheDuyet{
    background-color:#8F82F9;
    color: white;
}