
.footer{
    position: relative;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}
.footer p{
    margin: 0;
}
.footer__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__suAndadd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__suAndadd p{
    font-size: 18px;
    margin: 0;
    width: 300px;
}
.footer ul{
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}
.footer li{
    margin-bottom: 10px;
}
.footer__logo{
    display: flex;
    justify-content: center;
}
.footer img{
    width: 200px;
    background-color: white;
}
.footer__genAndco{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.footer__genAndco ul:last-child{
    display: flex;
    justify-content: start;
    align-items: normal;
}
.footer__genAndco p{
    font-size: 20px;
    margin-bottom: 10px;
}
.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
}
.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}
.chinhsach{
    display: flex;
}
.chinhsach p:last-child{
    margin-left: 10px;
}