
.blog{
    padding-top: 30px;
    padding-bottom: 100px;
}
.blog__title{
    text-align: center;
    padding: 30px;
}
.blog__title h1{
    margin: 10px 0px;
}
.blog__title p{
    margin: 0;
}
.blog__title p:last-child{
    font-size: 14px;
    padding: 0px 450px;
}
.blog__vienimg{
    overflow: hidden;
    width: 300px;
}
.blog__vienimg img{
    width: 300px;
    object-fit: cover;
}
.blog__main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog__vienimg:hover img{
    transition: all 2000ms ease;
    transform: scale(1.2);
}
.blog__column1 .blog__vienimg:first-child{
    height: 200px;
    margin-bottom: 10px;
}
.blog__column1 img:first-child{
    height: 200px;
}
.blog__column1 .blog__vienimg:last-child{
    height: 300px;
}
.blog__column1 img:last-child{
    height: 300px;
    object-fit: cover;
}
.blog__column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.blog__column2 .blog__vienimg:first-child{
    height: 400px;
    margin-bottom: 10px;
}
.blog__column2 img:first-child{
    height: 400px;
}
.blog__column2 .blog__vienimg:last-child{
    height: 200px;
}
.blog__column2 .blog__vienimg:last-child img{
    height: 200px;
}
.blog__column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog__column3 .blog__vienimg:first-child{
    height: 200px;
    margin-bottom: 10px;
}
.blog__column3 .blog__vienimg:first-child img{
    height: 300px;
}
.blog__column3 .blog__vienimg:last-child{
    height: 300px;
}
.blog__column3 img:last-child{
    height: 300px;
    object-fit: cover;
}