
.blog__title{
    text-align: center;
    padding: 30px;
}
.blog__title h1{
    margin: 10px 0px;
}
.blog__title p{
    margin: 0;
}
.blog__title p:last-child{
    font-size: 14px;
    padding: 0px 450px;
}
.blog__vienimg{
    overflow: hidden;
    width: 300px;
}
.blog__column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog__vienimg:hover img{
    transition: all 2000ms ease;
    transform: scale(1.2);
}
.blog__column1 .blog__vienimg:first-child{
    height: 200px;
    margin-bottom: 10px;
}
.blog__column1 img:first-child{
    width: 300px;
    height: 200pc;
    object-fit: cover;
}
.blog__column1 .blog__vienimg:last-child{
    height: 300px;
}
.blog__column1 img:last-child{
    height: 300px;
    object-fit: cover;
}